{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'shop/js/bootstrap.js' %}">

  </head>
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                </div>
            {% if request.user.id == service.user_id %}
                <form method="post">
                  {% csrf_token %}
                  <p>Please Create Service</p>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Title</label>
                    <input type="text" value="{{ service.title }}" id="form2Example111" name="title" class="form-control"
                      placeholder="title" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Price</label>
                    <input type="text" id="form2Example11" value="{{ service.price }}"  name="price" class="form-control"
                      placeholder="price" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Carat</label>
                    <input type="number" id="form2Example33" maxlength="2" value="{{ service.carat }}"  name="carat" class="form-control"
                      placeholder="carat" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Gram</label>

                    <input type="number" value="{{ service.gram }}"  id="form2Example43" maxlength="2" name="gram" class="form-control"
                      placeholder="gram" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">desc</label>
                    <input type="text" id="form2Example22" value="{{ service.desc }}"  name="desc" class="form-control" placeholder="descrption" />
                  </div>


                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Category</label>
                    <select type="text" name="category" class="form-control" >
                        <option value = "{{ service.category.id }}">{{ service.category.title }}</option>
                      {% for cate in categoryservice %}
                            <option value = "{{ cate.id }}">{{ cate.title }}</option>
                      {% endfor %}
                    </select>

                  </div>


                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">edit Service</button>
                  </div>



                </form>
               {% endif %}

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center ">
              <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</html>